@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;font-family:"宋体",sans-serif,Arial,"Times New Roman";font-size:12px;border:0px;box-sizing: border-box;}
/* 当展现页面的宽度大于1400px时的样式。 */
@media screen and (min-width: 1400px){
	.bannerimg{width: 100%;height: 564px;background:url(../../imgs/home/contactus/bannerwj.png) no-repeat;background-size: 100% auto;}
	.contimg{width: 323px;height: 49px;background:url(../../imgs/home/contactus/contwj.png) no-repeat;background-size: 100% auto;}
	.martopcomt{margin-top: 101px;}
	.topfind{font-size: 16px;color: #989898;line-height: 48px;}
	.consouscss{font-size: 16px;color: #454242;}
	.wwwweb{background-color: #3c95f8;margin-top: 65px;padding: 0px 112px;}
	.webdax{font-size: 14px;color: #1b4370;line-height: 25px;}
	.webdehei{height: 177px;}
	.dinnpinimg{width: 50px;height: 46px;background:url(../../imgs/home/contactus/dianpingwj.png) no-repeat;background-size: 100% auto;}
	.ergewebmarlef{margin-left: 190px;}
	.qqimg{width: 45px;height: 46px;background:url(../../imgs/home/contactus/qqwjimg.png) no-repeat;background-size: 100% auto;}
	.sangewebmarlef{margin-left: 154px;}
	.dizhiimg{width: 59px;height: 46px;background:url(../../imgs/home/contactus/diliwewjzhi.png) no-repeat;background-size: 100% auto;}
	.siewebmarlef{margin-left: 143px;}
	.phineimg{width: 38px;height: 46px;background:url(../../imgs/home/contactus/phonewj.png) no-repeat;background-size: 100% auto;}
	.addofimg{width: 445px;height: 52px;background:url(../../imgs/home/contactus/addofwj.png) no-repeat;background-size: 100% auto;}
	.martipaddof{margin-top: 95px;}
	.baidudicimg{width: 100%;height: 499px;background:url(../../imgs/home/contactus/bdwjdt.png) no-repeat;background-size: 100% auto;}
	.martopbadudi{margin-top: 56px;}
	.addfisutop{margin-top: 143px;}
	.zzcneir{width: 670px;height: 312px;border-top: 1px solid #898989;background-color: #ffffff;}
	.lartjwc{width: 100%;height: 135px;top:-74px;left: 0px;}
	.husebankd{width: 100%;height: 74px;}
	.tkhsqimg{width: 139px;height: 144px;background:url(../../imgs/home/contactus/tkhsq.png) no-repeat;background-size: 100% auto;}
	
	.wanchjeg{width: 347px;height: 40px;border: 1px solid #898989;background-color: #ffffff;}
	.wanchjeg li{list-style-type:none;font-size: 22px;color: #000000;width: 55px;line-height: 40px;text-align: center;position: relative;}
	.wanchjeg li::after{content:"";display: block;width: 2px;height: 20px;background-color: #7f7f7f;position: absolute;right: 0px;top: 50%;margin-top: -10px;}
	.wanchjeg li:last-child::after{display: none;}
	.bprba{width: 100%;height: 40px;top:-20px;left: 0px;}
	.ganx{width: 100%;height: 120px;font-size: 24px;color: #000000;}
	.qdla{width: 100%;}
	.qd{border: 1px solid #aaaaaa;width: 166px;height: 37px;font-size: 14px;color: #000000;border-radius: 40px;}
	.topmase{margin-top: 23px;font-size: 10px;color: #000000;-moz-transform:scale(0.8);-webkit-transform:scale(0.8);-o-transform:scale(0.8);}
	
	
	
	
	
}

/* 当展现页面的宽度大于1000px且小于1400px时，的样式。 */
@media screen and (min-width: 100px) and (max-width: 1400px) {
	.bannerimg{width: 100%;height: 400px;background:url(../../imgs/home/contactus/bannerwj.png) no-repeat;background-size: 100% auto;}
	.contimg{width: 229px;height: 34px;background:url(../../imgs/home/contactus/contwj.png) no-repeat;background-size: 100% auto;}
	.martopcomt{margin-top: 71px;}
	.topfind{font-size: 12px;color: #989898;line-height: 34px;}
	.consouscss{font-size: 12px;color: #454242;}
	.wwwweb{background-color: #3c95f8;margin-top: 46px;padding: 0px 79px;}
	.webdax{font-size: 10px;color: #1b4370;line-height: 17px;}
	.webdehei{height: 125px;}
	.dinnpinimg{width: 35px;height: 32px;background:url(../../imgs/home/contactus/dianpingwj.png) no-repeat;background-size: 100% auto;}
	.ergewebmarlef{margin-left: 134px;}
	.qqimg{width: 31px;height: 32px;background:url(../../imgs/home/contactus/qqwjimg.png) no-repeat;background-size: 100% auto;}
	.sangewebmarlef{margin-left: 109px;}
	.dizhiimg{width: 41px;height: 32px;background:url(../../imgs/home/contactus/diliwewjzhi.png) no-repeat;background-size: 100% auto;}
	.siewebmarlef{margin-left: 101px;}
	.phineimg{width: 26px;height: 32px;background:url(../../imgs/home/contactus/phonewj.png) no-repeat;background-size: 100% auto;}
	.addofimg{width: 316px;height: 36px;background:url(../../imgs/home/contactus/addofwj.png) no-repeat;background-size: 100% auto;}
	.martipaddof{margin-top: 67px;}
	.baidudicimg{width: 100%;height: 354px;background:url(../../imgs/home/contactus/bdwjdt.png) no-repeat;background-size: 100% auto;}
	.martopbadudi{margin-top: 39px;}
	.addfisutop{margin-top: 101px;}
	.zzcneir{width: 475px;height: 221px;border-top: 1px solid #898989;background-color: #ffffff;}
	.lartjwc{width: 100%;height: 95px;top:-52px;left: 0px;}
	.husebankd{width: 100%;height: 52px;}
	.tkhsqimg{width: 98px;height: 102px;background:url(../../imgs/home/contactus/tkhsq.png) no-repeat;background-size: 100% auto;}
	.wanchjeg{width: 246px;height: 28px;border: 1px solid #898989;background-color: #ffffff;}
	.wanchjeg li{list-style-type:none;font-size: 15px;color: #000000;width: 39px;line-height: 28px;text-align: center;position: relative;}
	.wanchjeg li::after{content:"";display: block;width: 2px;height: 14px;background-color: #7f7f7f;position: absolute;right: 0px;top: 50%;margin-top: -7px;}
	.wanchjeg li:last-child::after{display: none;}
	.bprba{width: 100%;height: 28px;top:-14px;left: 0px;}
	.ganx{width: 100%;height: 85px;font-size: 17px;color: #000000;}
	.qdla{width: 100%;}
	.qd{border: 1px solid #aaaaaa;width: 117px;height: 26px;font-size: 10px;color: #000000;border-radius: 28px;}
	.topmase{margin-top: 16px;font-size: 7px;color: #000000;-moz-transform:scale(0.8);-webkit-transform:scale(0.8);-o-transform:scale(0.8);}
	
	
	
	
	
}
