@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;font-family:"宋体",sans-serif,Arial,"Times New Roman";font-size:12px;border:0px;}
/* 当展现页面的宽度大于1400px时的样式。 */
@media screen and (min-width: 1400px){
	.jdal{margin-top: 92px;width: 144px;height: 61px;background:url(../../imgs/home/customercase/wjjdal.png) no-repeat;background-size: 100% auto;}
	.aldtmtp{margin-top: 87px;}
	.sqgdgs{}
	.xtgj{font-size: 14px;color: #4a4a49;line-height: 28px;}
	.xifanatop{margin-top: 17px;}
	.ifcea{font-size: 12px;color: #4a4a49;line-height: 22px;}
	.ckgdccas{font-size: 20px;color: #000000;border: 1px solid #030303;width: 107px;height: 40px;text-align: center;line-height: 40px;border-radius: 5px;margin-top: 44px;}
	.newctbotmartop{margin-top: 129px;}
	.topzgw{margin-top: 82px;}
	.jdalwbb{width: 100%;}
	.jdalyjdt{width: 300px;height: 461px;background:url(../../imgs/home/customercase/jdalwjyj.png) no-repeat;background-size: 100% auto;}
	.sqlogo{left: 21px;bottom: 33px;}
	.imgswidthqlog{width: 48px;height: 48px;background-color: #fefeff;border-radius: 50%;}
	.imgsqlog{width: 20px;height: 20px;background:url(../../imgs/home/title_img.png) no-repeat;background-size: 100% auto;}
	.lefwcsq{margin-left: 6px;}
	.leftsqer{font-size: 20px;color: #fefefe;}
	.sqtime{font-size: 12px;color: #fefefe;margin-top: 10px;}
	.leftjr{margin-left: 18px;}
	.jrimg{width: 297px;height: 228px;background:url(../../imgs/home/customercase/wjjr.png) no-repeat;background-size: 100% auto;}
	.topckalxq{margin-top: 45px;width: 297px;}
	.detahk{width: 78px;height: 22px;border: 1px solid #fba722;border-radius: 20px;}
	.detahk span{font-size: 10px;color: #fba722;-moz-transform:scale(0.8);-webkit-transform:scale(0.8);-o-transform:scale(0.8);}
	.lefthn{margin-left: 13px;}
	.hnxtzit{font-size: 20px;color: #4c4c4c;line-height: 52px;}
	.rwimgjdal{width: 12px;height: 11px;background:url(../../imgs/home/customercase/wjrwjdal.png) no-repeat;background-size: 100% auto;}
	.khjdal{font-size: 12px;color: #4c4c4c;margin-left: 3px;line-height: 12px;}
	.timeimgjdal{width: 10px;height: 10px;background:url(../../imgs/home/customercase/timewjjdal.png) no-repeat;background-size: 100% auto;}
	.topsgzj{margin-top: 4px;}
	.ggztbx{-moz-transform:scale(0.8);-webkit-transform:scale(0.8);-o-transform:scale(0.8);width: 305px;left: -30px;}
	.hentxjdal{font-size: 10px;color: #4c4c4c;}
	.hentxjdalwf{margin-top: 19px;}
	.lefjdalheny{margin-left: 25px;}
	.imgcyhhdal{width: 558px;height: 228px;background:url(../../imgs/home/customercase/wjjdalcyh.png) no-repeat;background-size: 100% auto;}
	.lefwccyh{margin-left: 10px;}
	.chjdallogo{top: 171px;left: 36px;}
	.topjdalxc{margin-top: 7px;}
	.imgjdalxch{width: 561px;height: 228px;background:url(../../imgs/home/customercase/wjxchjdal.png) no-repeat;background-size: 100% auto;}
	
	
	
	
	
	
	
	
}

/* 当展现页面的宽度大于1000px且小于1400px时，的样式。 */
@media screen and (min-width: 100px) and (max-width: 1400px) {
	.jdal{margin-top: 65px;width: 102px;height: 43px;background:url(../../imgs/home/customercase/wjjdal.png) no-repeat;background-size: 100% auto;}
	.aldtmtp{margin-top: 61px;}
	.sqgdgs{}
	.xtgj{font-size: 10px;color: #4a4a49;line-height: 20px;}
	.xifanatop{margin-top: 12px;}
	.ifcea{font-size: 8px;color: #4a4a49;line-height: 15px;}
	.ckgdccas{font-size: 14px;color: #000000;border: 1px solid #030303;width: 76px;height: 28px;text-align: center;line-height: 28px;border-radius: 4px;margin-top: 31px;}
	.newctbotmartop{margin-top: 91px;}
	.topzgw{margin-top: 58px;}
	.jdalwbb{width: 100%;}
	.jdalyjdt{width: 213px;height: 295px;background:url(../../imgs/home/customercase/jdalwjyj.png) no-repeat;background-size: 100% auto;}
	.sqlogo{left: 15px;bottom: 23px;}
	.imgswidthqlog{width: 34px;height: 34px;background-color: #fefeff;border-radius: 50%;}
	.imgsqlog{width: 14px;height: 14px;background:url(../../imgs/home/title_img.png) no-repeat;background-size: 100% auto;}
	.lefwcsq{margin-left: 4px;}
	.leftsqer{font-size: 14px;color: #fefefe;}
	.sqtime{font-size: 8px;color: #fefefe;margin-top: 7px;}
	.leftjr{margin-left: 12px;}
	.jrimg{width: 210px;height: 161px;background:url(../../imgs/home/customercase/wjjr.png) no-repeat;background-size: 100% auto;}
	.topckalxq{margin-top: 31px;width: 210px;}
	.detahk{width: 55px;height: 15px;border: 1px solid #fba722;border-radius: 14px;}
	.detahk span{font-size: 7px;color: #fba722;-moz-transform:scale(0.8);-webkit-transform:scale(0.8);-o-transform:scale(0.8);}
	.lefthn{margin-left: 9px;}
	.hnxtzit{font-size: 14px;color: #4c4c4c;line-height: 36px;}
	.rwimgjdal{width: 8px;height: 7px;background:url(../../imgs/home/customercase/wjrwjdal.png) no-repeat;background-size: 100% auto;}
	.khjdal{font-size: 8px;color: #4c4c4c;margin-left: 2px;line-height: 8px;}
	.timeimgjdal{width: 7px;height: 7px;background:url(../../imgs/home/customercase/timewjjdal.png) no-repeat;background-size: 100% auto;}
	.topsgzj{margin-top: 2px;}
	.ggztbx{-moz-transform:scale(0.8);-webkit-transform:scale(0.8);-o-transform:scale(0.8);width: 216px;left: -21px;}
	.hentxjdal{font-size: 7px;color: #4c4c4c;}
	.hentxjdalwf{margin-top: 13px;}
	.lefjdalheny{margin-left: 17px;}
	.imgcyhhdal{width: 396px;height: 161px;background:url(../../imgs/home/customercase/wjjdalcyh.png) no-repeat;background-size: 100% auto;}
	.lefwccyh{margin-left: 7px;}
	.chjdallogo{top: 114px;left: 25px;}
	.topjdalxc{margin-top: 5px;}
	.imgjdalxch{width: 398px;height: 161px;background:url(../../imgs/home/customercase/wjxchjdal.png) no-repeat;background-size: 100% auto;}
}



