@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;font-family:"宋体",sans-serif,Arial,"Times New Roman";font-size:12px;border:0px;}
/*快捷通栏*/
#shortcut{
	background: url("/shops/demo/Public/imgs/home/bg_shortcut.gif") repeat-x 0 -134px;
    height:30px;width:100%;overflow:hidden;
}




